table{
  font-family: Georgia, 'Times New Roman', Times, serif
}
#titulo{
  background-color: rgba(255, 191, 72, 0.781);
  text-align: center;
}

.mes,.gasto{
  background-color: rgb(253, 209, 217);
  width: 160px;
  text-align: left;
}

.colTri{
  background-color: rgba(127, 255, 133, 0.705);
}

tr{
  text-align: right;
}

.vacio{
  color: white;
}